In [71]:
# Library Imports
import pandas as pd

# Sizing teh display to better show tables (not mandatory)
pd.set_option('display.width', 500)       
pd.set_option('display.max_columns', None) # Show all columns

#loading Datasets
PATRONS_PATH = r"library_patrons.csv"
CHECKOUTS_PATH = r"book_checkouts.csv"

patrons_df = pd.read_csv(PATRONS_PATH)
checkouts_df = pd.read_csv(CHECKOUTS_PATH)

In [73]:
# Correct Data Types
patrons_df['Enrollment_Date'] = pd.to_datetime(patrons_df['Enrollment_Date'])
checkouts_df['Checkout_Date'] = pd.to_datetime(checkouts_df['Checkout_Date'])
checkouts_df['Return_Date'] = pd.to_datetime(checkouts_df['Return_Date'], errors='coerce')

In [75]:
# Merge the Dataframes
merged_df = pd.merge(checkouts_df, patrons_df, on='PatronID', how='inner')

# Feature Engineering
merged_df['Checkout_Month'] = merged_df['Checkout_Date'].dt.month_name()
merged_df['Loan_Duration_Days'] = merged_df['Return_Date'] - merged_df['Checkout_Date']

merged_df.head(20)

   CheckoutID PatronID                BookTitle Checkout_Date Return_Date        Genre           Name Enrollment_Date Membership_Tier  Age                Email         City Checkout_Month Loan_Duration_Days
0       C1001     P001         The Great Gatsby    2024-01-10  2024-01-24     Classics  Alice Johnson      2022-01-15         Premium   35    alice.j@email.com     New York        January            14 days
1       C1002     P002                     Dune    2024-01-12  2024-01-26       Sci-Fi   Bob Williams      2021-03-20        Standard   28      bob.w@email.com  Los Angeles        January            14 days
2       C1003     P003      Pride and Prejudice    2024-01-15  2024-01-29     Classics  Charlie Brown      2023-07-01           Basic   42  charlie.b@email.com      Chicago        January            14 days
3       C1004     P001                  Sapiens    2024-01-18  2024-02-01  Non-Fiction  Alice Johnson      2022-01-15         Premium   35    alice.j@email.com     New York        January            14 days
4       C1005     P005               The Hobbit    2024-01-20  2024-02-03      Fantasy      Eve Davis      2023-02-28        Standard   22      eve.d@email.com  Los Angeles        January            14 days
5       C1006     P004                     1984    2024-01-22  2024-02-05    Dystopian   Diana Miller      2022-11-10         Premium   55    diana.m@email.com     New York        January            14 days
6       C1007     P001                 Educated    2024-01-25         NaT  Non-Fiction  Alice Johnson      2022-01-15         Premium   35    alice.j@email.com     New York        January                NaT
7       C1008     P006                 Becoming    2024-01-28  2024-02-10    Biography    Frank White      2021-08-05           Basic   60    frank.w@email.com      Houston        January            13 days
8       C1009     P002              The Martian    2024-02-01  2024-02-15       Sci-Fi   Bob Williams      2021-03-20        Standard   28      bob.w@email.com  Los Angeles       February            14 days
9       C1010     P007    To Kill a Mockingbird    2024-02-03  2024-02-17     Classics   Grace Taylor      2022-04-12         Premium   30    grace.t@email.com     New York       February            14 days
10      C1011     P008                Gone Girl    2024-02-05         NaT     Thriller   Harry Wilson      2023-09-25        Standard   48                  NaN        Miami       February                NaT
11      C1012     P009            The Alchemist    2024-02-08  2024-02-22      Fiction      Ivy Moore      2022-06-18           Basic   25      ivy.m@email.com      Chicago       February            14 days
12      C1013     P001        Project Hail Mary    2024-02-10  2024-02-24       Sci-Fi  Alice Johnson      2022-01-15         Premium   35    alice.j@email.com     New York       February            14 days
13      C1014     P005                    Circe    2024-02-12  2024-02-26      Fantasy      Eve Davis      2023-02-28        Standard   22      eve.d@email.com  Los Angeles       February            14 days
14      C1015     P003       The Silent Patient    2024-02-15         NaT     Thriller  Charlie Brown      2023-07-01           Basic   42  charlie.b@email.com      Chicago       February                NaT
15      C1016     P010             Dune Messiah    2024-02-18  2024-03-03       Sci-Fi     Jack Green      2021-12-01         Premium   68     jack.g@email.com  Los Angeles       February            14 days
16      C1017     P011            Atomic Habits    2024-02-20  2024-03-05    Self-Help     Karen Hall      2023-01-05        Standard   33    karen.h@email.com      Houston       February            14 days
17      C1018     P001     The Midnight Library    2024-02-22  2024-03-07      Fantasy  Alice Johnson      2022-01-15         Premium   35    alice.j@email.com     New York       February            14 days
18      C1019     P012  Where the Crawdads Sing    2024-02-25  2024-03-09      Fiction      Liam King      2022-03-03           Basic   40                  NaN     New York       February            13 days
19      C1020     P002   The Hitchhiker's Guide    2024-02-28  2024-03-12       Sci-Fi   Bob Williams      2021-03-20        Standard   28      bob.w@email.com  Los Angeles       February            13 days

In [77]:
                                # Initial Data Inspection and Cleaning #

# For patrons_df
print("First 5 Rows of patrons_df:")
print(patrons_df.head())

print()
print("-----------------------------------------------------------------------------------")
print()

print("Info for patrons_df:")
print(patrons_df.info())

print()
print("-----------------------------------------------------------------------------------")
print()

print("Null Values of patrons_df:")
print(patrons_df.isnull().sum())

print()
print("-----------------------------------------------------------------------------------")
print()

# For checkouts_df
print("First 5 Rows of checkouts_df:")
print(checkouts_df.head())

print()
print("-----------------------------------------------------------------------------------")
print()

print("Info for checkouts_df:")
print(checkouts_df.info())

print()
print("-----------------------------------------------------------------------------------")
print()

print("Null Values of checkouts_df:")
print(checkouts_df.isnull().sum())

# For merged_df
print("First 5 Rows of merged_df:")
print(merged_df.head())

print()
print("-----------------------------------------------------------------------------------")
print()

print("Info for merged_df:")
print(merged_df.info())

print()
print("-----------------------------------------------------------------------------------")
print()

print("Null Values of merged_df:")
print(merged_df.isnull().sum())

First 5 Rows of patrons_df:
  PatronID           Name Enrollment_Date Membership_Tier  Age                Email         City
0     P001  Alice Johnson      2022-01-15         Premium   35    alice.j@email.com     New York
1     P002   Bob Williams      2021-03-20        Standard   28      bob.w@email.com  Los Angeles
2     P003  Charlie Brown      2023-07-01           Basic   42  charlie.b@email.com      Chicago
3     P004   Diana Miller      2022-11-10         Premium   55    diana.m@email.com     New York
4     P005      Eve Davis      2023-02-28        Standard   22      eve.d@email.com  Los Angeles

-----------------------------------------------------------------------------------

Info for patrons_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PatronID         12 non-null     object
 1   Name             12 non-null     object
 2   Enrollment_Date  12 non-null     datetime64[ns]
 3   Membership_Tier  12 non-null     object
 4   Age              12 non-null     int64
 5   Email            10 non-null     object
 6   City             12 non-null     object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 804.0+ bytes
None

-----------------------------------------------------------------------------------

Null Values of patrons_df:
PatronID           0
Name               0
Enrollment_Date    0
Membership_Tier    0
Age                0
Email              2
City               0
dtype: int64

-----------------------------------------------------------------------------------

First 5 Rows of checkouts_df:
  CheckoutID PatronID            BookTitle Checkout_Date Return_Date        Genre
0      C1001     P001     The Great Gatsby    2024-01-10  2024-01-24     Classics
1      C1002     P002                 Dune    2024-01-12  2024-01-26       Sci-Fi
2      C1003     P003  Pride and Prejudice    2024-01-15  2024-01-29     Classics
3      C1004     P001              Sapiens    2024-01-18  2024-02-01  Non-Fiction
4      C1005     P005           The Hobbit    2024-01-20  2024-02-03      Fantasy

-----------------------------------------------------------------------------------

Info for checkouts_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CheckoutID     20 non-null     object
 1   PatronID       20 non-null     object
 2   BookTitle      20 non-null     object
 3   Checkout_Date  20 non-null     datetime64[ns]
 4   Return_Date    17 non-null     datetime64[ns]
 5   Genre          20 non-null     object
dtypes: datetime64[ns](2), object(4)
memory usage: 1.1+ KB
None

-----------------------------------------------------------------------------------

Null Values of checkouts_df:
CheckoutID       0
PatronID         0
BookTitle        0
Checkout_Date    0
Return_Date      3
Genre            0
dtype: int64
First 5 Rows of merged_df:
  CheckoutID PatronID            BookTitle Checkout_Date Return_Date        Genre           Name Enrollment_Date Membership_Tier  Age                Email         City Checkout_Month Loan_Duration_Days
0      C1001     P001     The Great Gatsby    2024-01-10  2024-01-24     Classics  Alice Johnson      2022-01-15         Premium   35    alice.j@email.com     New York        January            14 days
1      C1002     P002                 Dune    2024-01-12  2024-01-26       Sci-Fi   Bob Williams      2021-03-20        Standard   28      bob.w@email.com  Los Angeles        January            14 days
2      C1003     P003  Pride and Prejudice    2024-01-15  2024-01-29     Classics  Charlie Brown      2023-07-01           Basic   42  charlie.b@email.com      Chicago        January            14 days
3      C1004     P001              Sapiens    2024-01-18  2024-02-01  Non-Fiction  Alice Johnson      2022-01-15         Premium   35    alice.j@email.com     New York        January            14 days
4      C1005     P005           The Hobbit    2024-01-20  2024-02-03      Fantasy      Eve Davis      2023-02-28        Standard   22      eve.d@email.com  Los Angeles        January            14 days

-----------------------------------------------------------------------------------

Info for merged_df:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CheckoutID          20 non-null     object
 1   PatronID            20 non-null     object
 2   BookTitle           20 non-null     object
 3   Checkout_Date       20 non-null     datetime64[ns]
 4   Return_Date         17 non-null     datetime64[ns]
 5   Genre               20 non-null     object
 6   Name                20 non-null     object
 7   Enrollment_Date     20 non-null     datetime64[ns]
 8   Membership_Tier     20 non-null     object
 9   Age                 20 non-null     int64
 10  Email               18 non-null     object
 11  City                20 non-null     object
 12  Checkout_Month      20 non-null     object
 13  Loan_Duration_Days  17 non-null     timedelta64[ns]
dtypes: datetime64[ns](3), int64(1), object(9), timedelta64[ns](1)
memory usage: 2.3+ KB
None

-----------------------------------------------------------------------------------

Null Values of merged_df:
CheckoutID            0
PatronID              0
BookTitle             0
Checkout_Date         0
Return_Date           3
Genre                 0
Name                  0
Enrollment_Date       0
Membership_Tier       0
Age                   0
Email                 2
City                  0
Checkout_Month        0
Loan_Duration_Days    3
dtype: int64

In [79]:
                                        # Advanced Filtering #
print("Premium Members who live in NYC:")
print(patrons_df[(patrons_df['Membership_Tier'] == "Premium") & 
      (patrons_df['City'] == "New York")])
print("----------------------------------------------------------------------------------")
print()

print("Sci-Fi books that were checked out after 01/31/24:")
print(checkouts_df[(checkouts_df['Genre'] == "Sci-Fi") &
     (checkouts_df['Checkout_Date'].dt.month >= 2)])
print("----------------------------------------------------------------------------------")
print()

print("Books that are checked out:")
print(checkouts_df[checkouts_df['Return_Date'] == "Not Returned Yet"])

Premium Members who live in NYC:
  PatronID           Name Enrollment_Date Membership_Tier  Age              Email      City
0     P001  Alice Johnson      2022-01-15         Premium   35  alice.j@email.com  New York
3     P004   Diana Miller      2022-11-10         Premium   55  diana.m@email.com  New York
6     P007   Grace Taylor      2022-04-12         Premium   30  grace.t@email.com  New York
----------------------------------------------------------------------------------

Sci-Fi books that were checked out after 01/31/24:
   CheckoutID PatronID               BookTitle Checkout_Date Return_Date   Genre
8       C1009     P002             The Martian    2024-02-01  2024-02-15  Sci-Fi
12      C1013     P001       Project Hail Mary    2024-02-10  2024-02-24  Sci-Fi
15      C1016     P010            Dune Messiah    2024-02-18  2024-03-03  Sci-Fi
19      C1020     P002  The Hitchhiker's Guide    2024-02-28  2024-03-12  Sci-Fi
----------------------------------------------------------------------------------

Books that are checked out:
Empty DataFrame
Columns: [CheckoutID, PatronID, BookTitle, Checkout_Date, Return_Date, Genre]
Index: []

In [107]:
                                # Complex Aggregations #
print("Total number of checkouts per Membership Level:")
print(merged_df.groupby('Membership_Tier').agg(Total_Checkouts=('CheckoutID', 'size')))
print()
print("-----------------------------------------------------------------------------------")
print()

print("Top 5 Book Titles")
print(merged_df.groupby('BookTitle').agg(Total_Checkouts=('BookTitle', 'size')))
print()
print("-----------------------------------------------------------------------------------")
print()

print("Average Checkout Duration by Genre")
print(merged_df.groupby('Genre')['Loan_Duration_Days'].mean())
print()
print("-----------------------------------------------------------------------------------")
print()

print("Genre Breakdown for each Member")
print(merged_df.groupby(['PatronID', 'Genre']).size())

Total number of checkouts per Membership Level:
                 Total_Checkouts
Membership_Tier
Basic                          5
Premium                        8
Standard                       7

-----------------------------------------------------------------------------------

Top 5 Book Titles
                         Total_Checkouts
BookTitle
1984                                   1
Atomic Habits                          1
Becoming                               1
Circe                                  1
Dune                                   1
Dune Messiah                           1
Educated                               1
Gone Girl                              1
Pride and Prejudice                    1
Project Hail Mary                      1
Sapiens                                1
The Alchemist                          1
The Great Gatsby                       1
The Hitchhiker's Guide                 1
The Hobbit                             1
The Martian                            1
The Midnight Library                   1
The Silent Patient                     1
To Kill a Mockingbird                  1
Where the Crawdads Sing                1

-----------------------------------------------------------------------------------

Average Checkout Duration by Genre
Genre
Biography     13 days 00:00:00
Classics      14 days 00:00:00
Dystopian     14 days 00:00:00
Fantasy       14 days 00:00:00
Fiction       13 days 12:00:00
Non-Fiction   14 days 00:00:00
Sci-Fi        13 days 19:12:00
Self-Help     14 days 00:00:00
Thriller                   NaT
Name: Loan_Duration_Days, dtype: timedelta64[ns]

-----------------------------------------------------------------------------------

Genre Breakdown for each Member
PatronID  Genre
P001      Classics       1
          Fantasy        1
          Non-Fiction    2
          Sci-Fi         1
P002      Sci-Fi         3
P003      Classics       1
          Thriller       1
P004      Dystopian      1
P005      Fantasy        2
P006      Biography      1
P007      Classics       1
P008      Thriller       1
P009      Fiction        1
P010      Sci-Fi         1
P011      Self-Help      1
P012      Fiction        1
dtype: int64

In [109]:
# Replace NULL Values
patrons_df['Email'] = patrons_df['Email'].fillna('No Email Provided')
checkouts_df['Return_Date'] = checkouts_df['Return_Date'].fillna('Not Returned Yet')

merged_df['Email'] = merged_df['Email'].fillna('No Email Provided')
merged_df['Return_Date'] = merged_df['Return_Date'].fillna('Not Returned Yet')
merged_df['Loan_Duration_Days'] = merged_df['Loan_Duration_Days'].fillna('Not Returned Yet')

In [129]:
                                        # Create a Pivot Table #
checkout_pivot = pd.pivot_table(
    merged_df,                 # Dataframe in use
    values='CheckoutID',       # The column to aggregate (we'll count it)
    index='Genre',             # Rows of the pivot table
    columns='Checkout_Month',  # Columns of the pivot table
    aggfunc='count',           # How to aggregate the values (count occurrences of CheckoutID)
    fill_value=0               # Replace NaN (where no checkouts occurred) with 0
)

print(checkout_pivot)

Checkout_Month  February  January
Genre
Biography              0        1
Classics               1        2
Dystopian              0        1
Fantasy                2        1
Fiction                2        0
Non-Fiction            0        2
Sci-Fi                 4        1
Self-Help              1        0
Thriller               2        0