In [23]:
                                                             #  INTERMEDIATE GRADE CALCULATOR - Using pandas  #
# Setup
import pandas as pd                                                            # for importing data

FILE_PATH = r"Class 1 Grades.xlsx"                                             # Don't need whole file path bc it's in the same place as the code's file

# Welcome statement
print("Welcome: You are now using the Student Grade Calculator")

# Adjust Weights
hw = .1
quiz = .2
mid = .3
final = .4

#Getting Student Info
grades_df = pd.read_excel(FILE_PATH)
grades_df['Quiz Avg'] = grades[['Quiz 1', 'Quiz 2', 'Quiz 3', 'Quiz 4']].mean(axis = 1).round(0).astype(int)
grades_df['HW Avg'] = grades[['HW 1', 'HW 2', 'HW 3', 'HW 4', 'HW 5', 'HW 6', 'HW 7', 'HW 8', 'HW 9', 'HW 10']].mean(axis = 1).round(0).astype(int)
grades_df['Final Avg'] = ((grades['HW Avg']*hw) + (grades['Quiz Avg']*quiz) + (grades['Midterm Exam']*mid)+ (grades['Final Exam']*final)).round(2)

# Constructing Letter Grade System

minA = 90
minB = 80
minC = 70
minD = 60

grade = [0, minD, minC, minB, minA, 100]
letters = ['F', 'D', 'C', 'B', 'A']

grades_df['Final Grade'] = pd.cut(
    grades_df['Final Avg'],
    bins=grade,
    labels=letters,
    right=True,
    include_lowest=True
)

grades_df = grades_df[['Student Name', 'Quiz 1', 'Quiz 2', 'Quiz 3', 'Quiz 4', 'Quiz Avg', 'HW 1', 'HW 2', 'HW 3', 'HW 4', 'HW 5', 'HW 6', 
                 'HW 7', 'HW 8', 'HW 9', 'HW 10', 'HW Avg', 'Midterm Exam', 'Final Exam', 'Final Avg', 'Final Grade']]

grades_df.head(10)

Welcome: You are now using the Student Grade Calculator

,Student Name,Quiz 1,Quiz 2,Quiz 3,Quiz 4,Quiz Avg,HW 1,HW 2,HW 3,HW 4,...,HW 6,HW 7,HW 8,HW 9,HW 10,HW Avg,Midterm Exam,Final Exam,Final Avg,Final Grade
0,Alex,85,92,78,95,88,90,88,92,75,...,95,85,70,90,82,85,88,91,88.9,B
1,Bryan,70,80,85,75,78,65,70,72,80,...,60,85,90,75,88,76,72,80,76.8,C
2,Carl,90,88,92,85,89,95,90,88,92,...,95,90,85,92,90,91,91,94,91.8,A
3,Danny,60,65,70,68,66,55,60,62,68,...,58,65,70,60,65,63,68,70,67.9,D
4,Eugiene,95,90,98,92,94,100,98,95,90,...,98,95,100,90,92,95,96,97,95.9,A
5,Freddie,78,72,80,85,79,70,75,78,80,...,70,75,72,80,78,76,80,83,80.6,B
6,Greggory,88,91,85,89,88,85,88,90,82,...,85,90,88,85,90,87,89,90,89.0,B
7,Heidi,65,70,60,72,67,60,65,68,70,...,65,70,60,65,68,65,66,70,67.7,D
8,Ivan,82,78,80,85,81,75,80,82,78,...,75,82,78,80,85,80,81,84,82.1,B
9,Juan,75,80,70,78,76,70,72,75,68,...,72,75,68,70,72,71,74,77,75.3,C

In [ ]:
                                                             #  BASIC GRADE CALCULATOR  #
def basicAvg(t1, t2, t3):
    sum = t1 + t2 + t3
    avg = sum / 3
    return avg

# Welcome statement
print("Welcome: You are now using the Student Grade Calculator")

# Getting Student Name
print("Input student's full name")
name = input()
print(name)

# Getting grades
print("Input student's Test 1 score")
test1 = float(input())
print("Input student's Test 2 score")
test2 = float(input())
print("Input student's Test 3 score")
test3 = float(input())

# Averaging
avg = basicAvg(test1, test2, test3)

# Assigning Letter Grade
if avg >= 90:
    letter = "A"
elif avg < 90 and avg >=80:
    letter = "B"
elif avg < 80 and avg >=70:
    letter = "C"
elif avg < 70 and avg >=65:
    letter = "D"
else: 
    letter = "F"


studentData = [
    ["Name", "Test 1", "Test 2", "Test 3", "Final Average", "Final Grade"],
    [name, test1, test2, test3, avg, letter]
]

# Print student info
print()
print()
print()
print(f"{studentData[0][0]:<20} {studentData[0][1]:<15} {studentData[0][2]:<15} {studentData[0][3]:<15} {studentData[0][4]:<15} {studentData[0][5]:<15}")
print("----------------------------------------------------------------------------------------------------")
print(f"{studentData[1][0]:<20} {studentData[1][1]:<15} {studentData[1][2]:<15} {studentData[1][3]:<15} {studentData[1][4]:<15} {studentData[1][5]:<15}")